In [61]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder , StandardScaler
from sklearn import metrics
from sklearn.svm import SVC
from sklearn.metrics import mean_absolute_error as mae
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
from xgboost import XGBRegressor

import warnings
warnings.filterwarnings('ignore')

In [63]:
df=pd.read_csv(r"C:\Users\shash\Downloads\ola_eda.csv")
df.head()

,season,weather,temp,humidity,windspeed,casual,count,day,month,year,weekday,am_or_pm,holidays,lag1,lag2,lag3,rolling_3,rolling_6,is_peak,weekend_bad_weather
0,3,2,7.653428,122.430885,18.783703,5,315.731778,1,1,2011,0,0,0,NaN,NaN,NaN,NaN,NaN,0,0
1,4,3,13.269244,101.703802,14.035245,36,340.457093,1,1,2011,0,0,0,315.731778,NaN,NaN,NaN,NaN,0,0
2,3,1,10.463377,114.925671,25.347168,6,132.169549,1,1,2011,0,0,0,224.278595,340.457093,315.731778,232.301746,NaN,0,0
3,3,4,30.214783,149.193592,20.288982,14,315.867137,1,1,2011,0,0,0,132.169549,224.278595,340.457093,224.105094,NaN,0,0
4,4,1,7.320588,114.293268,28.498988,20,103.664368,1,1,2011,0,0,0,315.867137,132.169549,224.278595,183.900352,238.694753,0,0

In [79]:
features=df.drop(['count','lag1','lag2','lag3','rolling_3','rolling_6'],axis=1)
target=df['count'].values

X_train,X_test,Y_train,Y_test=train_test_split(features,
                                               target,
                                               test_size=0.1,
                                               random_state=22)
X_train.shape,X_test.shape

((4311, 14), (480, 14))

In [81]:
rf=RandomForestRegressor()
rf.fit(X_train, Y_train)
print(f'\n{rf} :')    
train_preds = rf.predict(X_train)
test_preds = rf.predict(X_test)
    
print("Training Error:", mae(Y_train, train_preds))
print("Testing Error :", mae(Y_test, test_preds))

RandomForestRegressor() :
Training Error: 20.438941241834662
Testing Error : 55.76092370836846

In [82]:
#normalize data before feeding
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [83]:
models=[LinearRegression(),Lasso(),Ridge()]

for i in range(len(models)):
    models[i].fit(X_train,Y_train)
    
    print(f'{models[i]} :')

    train_preds=models[i].predict(X_train)
    print('Traing Error :',mae(Y_train,train_preds))

    test_preds=models[i].predict(X_test)
    print('Testing Error : ', mae(Y_test,test_preds))
    print()

LinearRegression() :
Traing Error : 55.752737271293284
Testing Error :  53.462051426471454

Lasso() :
Traing Error : 55.785989129261786
Testing Error :  53.341172556997236

Ridge() :
Traing Error : 55.7527330955123
Testing Error :  53.46170086190347